{% extends 'base.html' %}

{% block tilte %}Главная страница{% endblock %}

{% block content %}
<h1 style="text-align:center">Список кандидатов</h1>
<div style="text-align:center">
        <table class="table table-dark table-striped" align="center" >
            <tr>
                <th>Кандидат</th>
                <th>Навыки</th>
                <th>Языки</th>
                <th>Увлечения</th>
            </tr>
            {% for user in users %}
            <tr>
                {% if user.first_name and user.last_name %}
                    <th>{{ user.first_name }} {{ user.last_name }}</th>
                {% else %}
                    <th>{{ user.username }}</th>
                {% endif %}
                <th>
                    {% for skill in user.skills.all %}
                        {{ skill }},
                    {% endfor %}
                </th>
                <th>
                    {% for language in user.languages.all %}
                        {{ language }},
                    {% endfor %}
                </th>
                <th>
                    {% for hobby in user.hobbys.all %}
                        {{ hobby }},
                    {% endfor %}
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if page_obj.has_other_pages %}
            <div class="pagination">
                <a class="page-link" href="?page=1">первая страница</a>
                {% for p in paginator.page_range %}
                    {% if p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <a class="page-link" href="?page={{p}}">{{p}}</a>
                    {% endif %}
                {% endfor %}
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">последняя страница</a>
            </div>
        {% endif %}
{% endblock %}